body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;    
    padding: 0 10%;
}

#form-search {
  width: 80%;    
  padding: 0;    
  margin-top: 2%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

#id_link {
    width: 85%;    
}

#btn-search {
    width: 10%;
    height: 100%;
    font-size: 14px;    
}



#info-video {
    width: 80%;    
    display: flex;
}

#thumbnail-container {
    width: 60%;
}

#thumbnail {
    width: 100%;
}

#table-download{
    margin: 0;
    height: 99%;
    width: 40%;
    border: 1px solid black;
}


th, td{
    margin: 0;     
    padding: 1%;
    text-align: center;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

